.anchor{
    -fx-background-image:url("giphy.gif");
    -fx-background-size: cover, auto;
}

.slider .track{
    -fx-background-color: linear-gradient(to left, cyan,magenta);
    -fx-background-radius: 0;
}

.slider .thumb{
    -fx-pref-height: 30px;
    -fx-pref-width: 10px;
    -fx-background-radius: 0;
}